[Desktop Entry]
Encoding=UTF-8
Name=OctoPlasm
Comment=Octoprint Plasma Widget
Type=Service

X-KDE-Library=
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=EvilGremlin
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=octoplasm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Services
